pnpm-lock.yaml
**/node_modules
**/.venv

# build artifacts
**/build
**/_build
**/dist
**/coverage
**/es

# generated code
**/.dumi/tmp
**/.dumi/tmp-production
**/.dumi/theme
**/.docusaurus

/libro-server/**
/mana/**

# protobuf
**/*_pb.ts
**/*_connect.ts

**/*/keyboard/layouts/**
tinyColor.less
.changeset
README.md
README_zh.md

