@ant-prefix: ant;

.libro-lab-layout {
  width: 100%;
  height: 100%;

  &-header {
    height: 56px;
    min-height: 56px;
  }

  &-container {
    overflow: auto;
  }

  &-main {
    overflow: auto;
  }

  &-bottom {
    height: 28px;
    min-height: 28px;
    background-image: linear-gradient(270deg, #c8c8cd 0%, #fff 100%);
    opacity: 0.12;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 50%);
  }

  .mana-header {
    background: var(--mana-color-bg-container);
    border-bottom: none;

    .mana-header-left,
    .mana-header-right {
      flex: unset !important;
    }

    .mana-menubar {
      height: 100%;
      padding: unset;
    }

    .mana-menubar-item-text {
      color: rgba(0, 10, 26, 89%);
      font-weight: 400;
    }
  }
}

.libro-lab-editor-tab-tail {
  width: 16px;

  .libro-lab-editor-tab-dirty {
    padding: 0 4px;

    .ant-badge.ant-badge-status .ant-badge-status-dot {
      height: 8px;
      width: 8px;
    }
  }
}
