/* stylelint-disable selector-no-vendor-prefix */
a:-webkit-any-link {
  color: unset;
}

.libro-lab-layout {
  .ant-empty {
    .ant-empty-description {
      color: var(--mana-ant-color-text-description);
    }
  }
}

#libro-lab-content-layout-left {
  .mana-side-tab-view {
    .mana-tabs-left {
      .mana-tabs-nav {
        background-color: var(--mana-ant-color-bg-elevated);
        min-width: 40px;

        .mana-tabs-ink-bar {
          display: none;
        }

        .mana-tabs-tab:hover {
          background-color: unset;
        }

        .mana-tabs-tab {
          width: 40px;
          height: 40px;

          &-btn {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            .mana-tab-icon {
              .anticon {
                font-size: 16px;
              }
            }
          }
        }

        .mana-tabs-tab-btn:hover {
          .mana-tab-icon {
            color: var(--mana-ant-color-icon);
          }
        }

        .mana-tabs-tab-active {
          .mana-tabs-tab-btn {
            .mana-tab-icon {
              color: var(--mana-ant-color-icon-hover);
            }
          }
        }
      }

      .mana-tabs-content-holder {
        background-image: linear-gradient(
          269deg,
          var(--mana-libro-lab-content-tab-nav) 0%,
          var(--mana-libro-background)
        );
        border-left: none;
        box-shadow: var(--mana-ant-box-shadow-tabs-overflow-left);
        padding-left: 2px;

        .mana-tab-side-pane-content {
          height: calc(100% - 32px);
        }
      }
    }
  }
}

#libro-lab-content-layout-main {
  background-color: var(--mana-libro-lab-content-tab-nav);

  .mana-tabs-nav {
    background-color: var(--mana-libro-lab-content-tab-nav);
  }

  .mana-tabs-tab-active {
    background-color: var(--mana-libro-lab-content-tab-active-background);
  }
}

#libro-lab-content-layout-main-container {
  overflow: auto;
}
