.libro-lab-footer {
  .libro-lab-footer-left,
  .libro-lab-footer-right {
    padding: 0 24px;
  }

  .libro-lab-footer-right {
    display: flex;
    justify-content: end;
  }
}

.libro-lab-current-file-footer,
.libro-lab-status-footer {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 10, 26, 68%);
}

.libro-lab-status-footer {
  justify-content: end;
}
