.libro-chat-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  width: 100%;

  &-content {
    width: 85%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1677ff;
    border-radius: 6px;
  }

  &-operation {
    align-self: flex-end;
    margin-right: 6px;
    margin-bottom: 6px;
  }
}
