@ant-prefix: ant;

.libro-error-output-btn-container {
  display: flex;

  .libro-ai-native-fix-button {
    height: 24px;
    width: 118px;
    margin-top: 16px;
    margin-right: 16px;
    padding: unset;
    background: var(--mana-color-bg-container);
    border-color: var(--mana-libro-ai-native-border);

    span {
      font-family: ArialMT;
      font-size: 12px;
      color: var(--mana-libro-ai-native-border);
      line-height: 22px;
    }

    &:hover {
      color: var(--mana-libro-ai-native-border) !important;
      border-color: var(--mana-libro-ai-native-border) !important;
    }
  }
}

.libro-cell-right-toolbar {
  .libro-ai-icon {
    g {
      fill: none !important;
    }

    .libro-ai-inner-icon {
      fill: var(--mana-libro-ai-native-border) !important;
    }
  }
}

.libro-side-toolbar-ai-select-menu {
  .@{ant-prefix}-popover-content {
    width: 120px;
    height: 72px;
  }
}

.libro-view-content-right {
  height: calc(100% - 46px);

  .libro-slot-container {
    height: 100%;
  }
}

.chat-header {
  padding: 8px 16px;
  height: 40px;
  display: flex;
  justify-content: space-between;

  .chat-title {
    font-size: 16px;
    font-weight: 600;
  }
}

.chat-container {
  border: 1px solid var(--mana-libro-ai-native-border);
  box-shadow: rgba(203, 146, 197, 37%) 0 0 0 2px;
  border-radius: 6px;
  height: 100%;
  width: 460px;

  .chat {
    height: calc(100% - 40px);
  }
}

.chat-switch {
  margin-right: 6px;
}

.chat-close-icon {
  cursor: pointer;
}
