.libro-error-output-btn-container {
  display: flex;

  .libro-ai-native-fix-button {
    height: 24px;
    width: 118px;
    margin-top: 16px;
    margin-right: 16px;
    padding: unset;
    background: var(--mana-color-bg-container);
    border-color: var(--mana-libro-ai-native-border);

    span {
      font-family: ArialMT;
      font-size: 12px;
      color: var(--mana-libro-ai-native-border);
      line-height: 22px;
    }

    &:hover {
      color: var(--mana-libro-ai-native-border) !important;
      border-color: var(--mana-libro-ai-native-border) !important;
    }
  }
}
