.difizen-dumi-layout {
  height: 100%;

  a {
    text-decoration: none;
  }

  main {
    .dumi-default-content {
      min-height: calc(100vh - 61px);
    }
  }

  svg {
    display: unset;
  }
}

.difizen-home-layout {
  background-color: #f7f9fb;
}

.dumi-default-content {
  &:not([data-no-sidebar]) {
    padding: 48px 0 0;

    > article {
      padding: 0 48px;
    }

    .dumi-default-content-footer {
      padding: 0 48px;

      dd {
        display: flex;
      }
    }
  }
}
